* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    border: 0;
    box-sizing: border-box;
    font-family: 'Times new Roman', sans-serif;
    color: var(--dark-gray);
    list-style-type: none;
}

.background {
    background-image: url('./Assets/0820dc2c6f8d727e9c0a4748ba3bfce74a7b8f70.jpg');
    background-repeat: repeat;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
    background-color:beige;
    font-family: 'candara';
    font-size: 33px;
}

.titulo {
    font-family: 'candara';
    font-size: 19px; 
    text-decoration: none;
}


.main-contato {
    margin: 40px 5%;
    display: flex;
    justify-content: space-around
}

.main-historia {
    margin: 40px 5%;
    text-align: center;
}

.icon-img { 
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.icon-a {
    text-decoration: none;
}

.div-icon {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

#pcantigo {
    padding: 20px;
    float: left;
    height: 400px;
}

#ibm {
    padding: 20px;
    float: right;
    height: 400px;
}

.texto-historia {
    text-align: justify;
    padding: 15px;
}

.titulo-texto {
    margin-top: 20px;
    text-align: center;
}

.c-card {
    padding: 1rem;
    margin: 2rem;
    color: #080808;
    box-shadow: 0 0 20px rgba(93, 93, 93, 0.2);
    text-align: center;
    width: 200px;
    background-color: beige;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top: 30px;
    background-color: beige;
}
  
.preco {
    color: gray;
    font-size: 22px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}

.utilizacao {
    float: left;
    width: 50%;

}

.topico::after {
    content: "";
    display: table;
    clear: both;

}

.conteudo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    padding: 30px;
    margin: 10px;
    height: 1100px;
}