* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    font-family: 'Times new Roman', sans-serif;
    color: var(--dark-gray);
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
    background-color:beige;
    font-family: 'candara';
    font-size: 33px;
}

.titulo {
    font-family: 'candara';
    font-size: 19px; 
    text-decoration: none;
}

.main-contato {
    margin: 40px 5%;
    display: flex;
    justify-content: space-around
}

.main-historia {
    margin: 40px 5%;
    text-align: center;
}

.background {
    background-image: url('./Assets/0820dc2c6f8d727e9c0a4748ba3bfce74a7b8f70.jpg');
    background-repeat: repeat;
    background-size: cover;
}

.icon-img { 
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.icon-a {
    text-decoration: none;
}

.div-icon {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    text-decoration: none;
}

#pcantigo {
    padding: 20px;
    float: left;
    height: 400px;
}

#ibm {
    padding: 20px;
    float: right;
    height: 400px;
}

.texto-historia {
    text-align: justify;
    padding: 15px;
}

.titulo-texto {
    margin-top: 20px;
    text-align: center;
}